.body_page {
    max-width: 490px;
    margin: 30px auto;
    border: red solid 1px;
    transition: all .2s ease-in-out;
}

.body_page:hover {
    max-width: 500px;
    height: auto;
    box-shadow:red 0px 0px 5px 5px;
}

.chord-item {
    margin-bottom: 10px;
    padding: 5px;
}

.chord-item:hover {
    font-weight: 600;
    color: white;
}

.img-item:hover{
    box-shadow: blue 0px 0px 5px 5px;
}

.chord-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.2s ease-in-out ;
    position: relative;
}


.chord-title:hover {
    background-color: red;

}

.chord-input {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;

}

i {
    display: inline-block;
    font-size: 26px;
    font-weight: 900;
    transition: all .2s ease-in-out;
}
.chord-title:hover i {
    transform: rotate(45deg);
}

.chord-input:checked ~ .chord-title {
    background-color: red;
}


.chord-input:checked ~ i:focus {
    transform: rotate(45deg);
}

.chord-input:checked + .chord-title i {
    transform: rotate(45deg);
}

.chord-input:checked ~ .chord-text {
    display: block;
} 


.chord-text {
    display: none;
    font-size: 16px;
    padding: 10px 15px;
    border: red solid 1px;
}

@media(hover:hover){
    .img-item:active {
        opacity: 0.3;
    }
    label:hover img {
        cursor: pointer;
      }
      div .first:hover .chord-text{
        max-height: 100vh;
      }

      div .second:hover img{
        max-height: 100vh;
      }

      div .third:hover img{
        max-height: 100vh;
      }

      div .fourth:hover img{
        max-height: 100vh;
      }
}

@media (max-width:576px) {
    .title {
        margin-top: 10px;
    }

    .title h3 {
        font-size: 17px;
    }
}

